* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.light,
.dark {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.light {
  background: #ffffff;
  color: #000000;
}

.dark {
  background: #222;
  color: #ffffff;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
  font-size: 18px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}