.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f8f3;
  padding: 20px;
}

.login-card {
  width: 100%;
  max-width: 420px;
  background: white;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.login-logo {
  width: 55px;
  height: 55px;
  margin: 0 auto 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2e7d32;
  color: white;
  border-radius: 50%;
  font-size: 25px;
}

.login-header h2 {
  margin: 0;
  color: #183b2b;
}

.login-header p {
  color: #777;
  margin-top: 8px;
}

.login-input-group {
  margin-bottom: 20px;
}

.login-input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
}

.login-input-box {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0 12px;
}

.login-input-box svg {
  color: #2e7d32;
}

.login-input-box input {
  width: 100%;
  padding: 13px 5px;
  border: none;
  outline: none;
  font-size: 15px;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 14px;
}

.login-options label {
  display: flex;
  gap: 6px;
  align-items: center;
}

.login-options a,
.register-text a {
  color: #2e7d32;
  text-decoration: none;
  font-weight: 600;
}

.login-btn {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 8px;
  background: #2e7d32;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.login-btn:hover {
  background: #256b29;
}

.register-text {
  text-align: center;
  margin-top: 25px;
  color: #666;
}

@media (max-width: 500px) {
  .login-card {
    padding: 25px 20px;
  }

  .login-options {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}


/* Register page ui */

.registration-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f8f3;
  padding: 30px 20px;
}

.registration-card {
  width: 100%;
  max-width: 480px;
  background: white;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.registration-header {
  text-align: center;
  margin-bottom: 25px;
}

.registration-logo {
  width: 55px;
  height: 55px;
  margin: 0 auto 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #2e7d32;
  color: white;
  border-radius: 50%;
  font-size: 25px;
}

.registration-header h2 {
  margin: 0;
  color: #183b2b;
}

.registration-header p {
  color: #777;
  margin-top: 8px;
}

.registration-input-group {
  margin-bottom: 17px;
}

.registration-input-group label {
  display: block;
  margin-bottom: 7px;
  font-weight: 600;
  color: #333;
}

.registration-input-box {
  display: flex;
  align-items: center;
  gap: 10px;

  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0 12px;
}

.registration-input-box svg {
  color: #2e7d32;
}

.registration-input-box input {
  width: 100%;
  padding: 12px 5px;
  border: none;
  outline: none;
  font-size: 15px;
}

.terms-check {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin: 20px 0;
  font-size: 14px;
  color: #555;
}

.registration-btn {
  width: 100%;
  padding: 13px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border: none;
  border-radius: 8px;

  background: #2e7d32;
  color: white;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.registration-btn:hover {
  background: #256b29;
}

.login-text {
  text-align: center;
  margin-top: 22px;
  color: #666;
}

.login-text a {
  color: #2e7d32;
  text-decoration: none;
  font-weight: 600;
}

@media (max-width: 500px) {
  .registration-card {
    padding: 25px 20px;
  }
}

/* error page ui */
.error404-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f8f3;
  padding: 20px;
}

.error404-card {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 50px 35px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.error404-icon {
  width: 75px;
  height: 75px;
  margin: 0 auto 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #e8f5e9;
  color: #2e7d32;
  border-radius: 50%;

  font-size: 40px;
}

.error404-card h1 {
  margin: 0;
  font-size: 80px;
  color: #2e7d32;
  line-height: 1;
}

.error404-card h2 {
  margin: 15px 0 10px;
  color: #183b2b;
}

.error404-card p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 30px;
}

.error404-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.error404-home-btn,
.error404-back-btn {
  padding: 12px 18px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.error404-home-btn {
  background: #2e7d32;
  color: white;
  text-decoration: none;
}

.error404-home-btn:hover {
  background: #256b29;
}

.error404-back-btn {
  background: white;
  color: #2e7d32;
  border: 1px solid #2e7d32;
}

.error404-back-btn:hover {
  background: #e8f5e9;
}

@media (max-width: 500px) {
  .error404-card {
    padding: 40px 20px;
  }

  .error404-card h1 {
    font-size: 65px;
  }

  .error404-buttons {
    flex-direction: column;
  }

  .error404-home-btn,
  .error404-back-btn {
    width: 100%;
  }
}